.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #1e1e2e;
  color: #ffffff;
  width: 100%;
  border-radius: 10px; /* Added border radius */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; /* Centered text */
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 1rem; /* Added padding */
  border-radius: 10px; /* Added border radius */
  background-color: #2e2e3e; /* Slightly lighter background */
}

.formGroup {
  margin-bottom: 2rem; /* Increased spacing */
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem; /* Added space between label and input */
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #444469; /* Changed border color */
  border-radius: 12px; /* Increased border radius for rounder inputs */
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #2e2e3e; /* Slightly lighter background */
  color: #ffffff; /* Text color */
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: #b48ead; /* Changed highlight color */
  outline: none;
  box-shadow: 0 0 5px rgba(180, 142, 173, 0.5); /* Adjusted box shadow color */
}

.button {
  padding: 0.75rem 1.5rem; /* Increased padding */
  border: 2px solid #ffffff;
  background: #1e1e2e; /* Changed background color */
  color: #ffffff;
  cursor: pointer;
  border-radius: 8px; /* Added border radius */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.button:hover {
  background-color: #ffffff;
  color: #1e1e2e;
  border-color: #1e1e2e; /* Changed border color on hover */
  box-shadow: 0 0 10px rgba(30, 30, 46, 0.5); /* Added box shadow on hover */
}
