.hero {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  background-color: #444469;
  color: #ffffff;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  width: 100%;
}

.content,
.skills {
  width: 45%;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* Stack items vertically on smaller screens */
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .content,
  .skills {
    width: 100%; /* Full width for each section */
    margin-bottom: 1.5rem; /* Add spacing between sections */
  }

  .title,
  .skillsTitle {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .description,
  .highlight,
  .button,
  .skillsList li {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .button {
    padding: 0.5rem 1rem; /* Adjust button padding for smaller screens */
  }
}

.title,
.skillsTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.description,
.highlight,
.button,
.skillsList li {
  font-size: 1.1rem;
  line-height: 1.6;
}

.description {
  margin-bottom: 1.5rem;
}

.highlight {
  font-style: italic;
  color: #b48ead;
}

.button {
  padding: 0.75rem 1.5rem;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-top: 1rem;
}

.button:hover {
  background-color: #ffffff;
  color: #444469;
}

.skillsList {
  list-style: none;
  padding: 0;
}

.skillsList li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  position: relative;
}

.skillsList li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #b48ead;
}
